*,h1,h2,h3{
  margin:0;
  padding:0;
}
a{
  text-decoration:none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  color: rgb(119, 28, 28);
}
a{
  text-decoration: none;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.buttons{
  background-color: transparent;
  width:10vw;
 color:blue;
 border:1px solid blue;
  border-radius: 25px;
  outline:none;
  height:3vmax;
  margin-top: 1vmax;
  margin-left: 1vmax;
}
.butter{
  background-color: rgb(112, 112, 175);
  color:white;
  width:10vw;
  border-radius: 5px;
  outline:none;
  height:2vmax;
  border:none;
  margin-top: 1vmax;
  margin-left: 1vmax;
}
.buttons:hover{
  background-color: rgb(97, 85, 85);
}
.userslist{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  width:60vw;
  border-radius: 1vmax;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
 
}
.usercard{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin:5px;
  height:40vh;
  width:15vw;
  padding:1vmax;
  overflow: hidden;
  border: 1px solid rgb(201, 200, 202);
  border-radius: 10px;
}
.greyfonts{
  opacity: 0.9;
}
.container{
  padding:10vmax;
  background-color: rgba(199, 193, 206, 0.877);
  display: flex;
  justify-content: center;
  
}
.side{
  height: 100vh;
  width:20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-right:5vmax;
  border: 1px solid rgb(143, 137, 137);
  border-radius: 10px;
}
.sharepost{
  height:5vmax;
  width:60vw;
  padding: 1vmax;
  border:none;
  outline: none;
  border:1px solid rgb(92, 88, 88);
  border-radius: 10vmax;
}
.feed{
  width:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 65vw;
  padding-top:1vmax;
border-radius: 1vmax;
position:relative;
}
.postbtn{
  border: none;
  outline: none;
  color: white;
  background-color: blue;
  width:10vw;
  height: 5vmax;
  margin-top: 2vmax;
  border-radius: 1vmax;
  position:absolute;
  right:5%;
  bottom:5%;
}
.water{
  display:block;
  margin-top: 2vmax;
}
.milk{
  display:none;
}
.shareOptions{
  display: flex;
 margin-top: 2vmax;
  align-items: center;
}
.shareOption{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1vmax;
}
.feedcontainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgba(199, 193, 206, 0.877); ;
}

.div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width:50vw;
  height:50vh;
  border-radius: 2vmax;
  background-color: white;
  margin: 5px;
  position: relative;
}
.icons{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
margin-top:3vmax;
  position:absolute;
  bottom:5%;
  left:5%;
  width: 90%;
  border-top: 1px solid rgb(138, 132, 132);
  padding-top: 5px;
}
.icon{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.usercardd{
  padding:1vmax;
display:flex;
position:absolute;
justify-content:space-evenly;
width:20%;
top:0;
left:0;
justify-content:flex-start;
}